.container {
  min-height: 100vh;
}

.main {
  max-width: 42rem;
  margin: 0 auto;
  padding: var(--spacing-4) var(--spacing-4);
}

/* HEADER NAV */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-4);
}

.name {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semibold);
}

.links {
  display: flex;
  gap: var(--spacing-4);
  align-items: center;
}

.link {
  font-size: var(--font-size-md);
  color: var(--color-muted);
  transition: var(--transition-default);
  text-decoration: none;
}

.link:hover {
  color: var(--color-foreground);
}

/* BIO */

.profile {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
  margin-bottom: var(--spacing-16);
}

.avatar {
  border-radius: var(--border-radius-full);
}

.bio {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.greeting {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
}

.description {
  font-size: var(--font-size-md);
  color: var(--color-foreground);
  line-height: var(--line-height-md);
  max-width: 34rem;
}

/* CONTENT */

.work {
  margin-bottom: var(--spacing-8);
}

.projects {
  margin-bottom: var(--spacing-4);
}

.sectionTitle {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
}
.workHistory {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);
}

.workItem {
  display: flex;
  justify-content: space-between;
}

.workInfo {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.company {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semibold);
}

.position .period {
  font-size: var(--font-size-sm);
  color: var(--color-muted);
}

.period {
  margin-right: var(--spacing-2);
}

.workMeta {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
}

.footer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  font-size: var(--font-size-sm);
  color: var(--color-muted);
}

.location,
.socialLinks {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
}

.icon {
  width: 1rem;
  height: 1rem;
}

@media (min-width: 640px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
